// ==========================================================================
// #ICONS
// ==========================================================================
.icon {
	@include bg-cover();
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	> svg {
		display: block;
	}
	path,
	polygon {
		transition: fill 0.3s;
	}
}

// ==========================================================================
// #ICONS-COLORS
// ==========================================================================
.icon--white {
	path,
	polygon {
		fill: white;
	}
}

.icon--black {
	path,
	polygon {
		fill: black !important;
	}
}

// ==========================================================================
// #ICONS-SIZE
// ==========================================================================

.icon--20 {
	&,
	& > svg {
		width: 20px;
		height: 20px;
	}
}

.icon--40 {
	&,
	& > svg {
		width: 40px;
		height: 40px;
	}
}

.icon--60 {
	&,
	& > svg {
		width: 60px;
		height: 60px;
	}
}

.icon--logo {
	&,
	& > svg {
		width: 240px;
		height: auto;
		path {
			fill: #1d1d1b;
		}
	}
}

// ==========================================================================
// #ICONS-SOCIAL
// ==========================================================================
.icon--facebook,
.icon--twitter,
.icon--instagram,
.icon--mail {
	svg > * {
		fill: palette(black);
	}
}

a:hover {
	.icon--facebook svg > * {
		fill: #3b5998;
	}
	.icon--twitter svg > * {
		fill: #00b6f1;
	}
	.icon--instagram svg > * {
		fill: #c32aa3;
	}
	.icon--mail svg > * {
		fill: black;
	}
}
