{#
 # About template
 # ---------------
 #}

{% extends "_layouts/app" %}
{% import "_macros/img" as img %}

{% block content %}

    <div>
        <h1>About Template</h1>

        <ul>
            <li><a href="{{ url('/') }}">home</a></li>
            <li><a href="{{ url('/contact') }}">contact</a></li
        </ul>

    </div>

{% endblock %}