{#
 # NOTE: Set all page routes to "_router" in cms
 #}
{% set fourOhFour = "404" %}

{% switch entry.type.handle %}

    {% case "home" %}
        {% include ['_templates/index', fourOhFour] %}


    {% case "about" %}
        {% include ['_templates/singles/about', fourOhFour] %}

    {% case "contact" %}
        {% include ['_templates/singles/contact', fourOhFour] %}

    {% case "newsOverview" %}
        {% include ['_templates/news/index', fourOhFour] %}
    {% case "article" %}
        {% include ['_templates/news/_entry', fourOhFour] %}

    


    {% case "auxiliary" %}
        {% include ['_templates/auxiliary/generic', fourOhFour] %}

{% endswitch %}