{# ================================================================== #}
{# Imager Srcset                                                      #}
{# ================================================================== #}

{% macro srcSet( image = null, options = {} ) %}

    {# Setup options
    ========================================================================== #}
    {% set defaultOptions = {
        classes: '',
        transform: null,
        alt: false,
        type: 'img',
        mode: 'crop',
        sizes: 'auto',
        lazyload: false,
        format: 'jpg',
        pinIt: false
    } %}

    {% set options = defaultOptions|merge( options ) %}

    {% set imageRatioWidth = null %}
    {% set imageRatioHeight = null %}
    {% set defaultRatio = craft.app.config.getConfigFromFile('img').defaultRatio %}

    {# Define transform settings based on image type #}
    {% set transformConfig = craft.app.config.getConfigFromFile('img').transforms %}
    {% set transform = transformConfig[ options.transform ] ?? transformConfig[ 'default' ] %}

    {# Set Srcset Transform #}
    {% set transformedImages = craft.imager.transformImage(
        image,
        transform.sizes,
        {
            mode: options.mode,
            format: options.format,
            position: image.getFocalPoint()
        }) %}

    {# If the server has support for WebP, create transforms #}
    {% if craft.imager.serverSupportsWebp() %}

        {% set transformedImagesWebp = craft.imager.transformImage(
            image,
            transform.sizes,
            {
                format: 'webp'
            })
        %}

    {% endif %}

    {# Output lazysizes srcset markup #}
    {% if options.lazyload %}
        <img
            data-sizes="100vw"
            data-srcset="{{ craft.imager.srcset(transformedImages) }}"
            src="{{ craft.imager.placeholder() }}"
            class="{{ options.classes }} lazyload"
        >
    {% else %}
        <picture>
            {% if craft.imager.serverSupportsWebp() %}
                <source
                    sizes="100vw"
                    srcset="{{ craft.imager.srcset(transformedImagesWebp) }}"
                    class="{{ options.classes }}"
                    type="image/webp"
                >
            {% endif %}
                <img
                    sizes="100vw"
                    srcset="{{ craft.imager.srcset(transformedImages) }}"
                    src="{{ craft.imager.placeholder() }}"
                    class="{{ options.classes }}"
                >
        </picture>
    {% endif %}
    {# End of output #}

{% endmacro %}