<!DOCTYPE html>

{% import "_macros/img" as img %}

<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Craft CMS Project Boilerplate with Docker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

</head>
<body>
    <div>
        {{ block('content') }}
    </div>
</body>
</html>
